<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <label for="category">Display Name</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">@</span>
    <%= f.text_field :display_name, class: "form-control", placeholder: "Le Mars, lowa" %>
  </div>
  

  <label for="filename">Image id</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">@</span>
    <%= f.text_field :image_id, class: "form-control", placeholder: "1" %>
  </div>
  
  <%= f.submit 'Confirm', :class => 'btn btn-primary spacer' %>
  
<% end %>
