<div class="container">

  <%= render 'header' %>
  <span class="label label-danger">Edit</span>
  <p id="notice"><%= notice %></p>
  
  <%= render 'form' %>
  
  <%= link_to 'Show', @product, :class => 'btn btn-primary spacer' %>
  <%= link_to 'Back', products_path, :class => 'btn btn-primary spacer' %>

</div>
